/* This file will contain all of our color variables & fonts */

$mobile-screen: 550px;
$tablet-screen: 770px;

$dark-purple: #52078c;
$med-purple: #a226ef;
$magenta: #ef25ef;
$white: #ffffff;
$black: #000000;
$faded-gray: #999999;

$jordy-blue: #8CA1FF;
$navy-purple: #8450E5;
$purpureus: #8A48AD;
$magenta-haze: #A54877;
$coconut: #965736;
