// Global stylesheet
@import 'variables';

@font-face {
  font-family: 'Another Flight';
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/Another\ Flight.otf'), format('opentype');
}

body {
  font-family: 'Another Flight', sans-serif;
  font-size: 14px;
}

input {
  font-family: 'Another Flight', sans-serif;
  font-size: 16px;
}

.btn-wrapper {
  margin: 30px auto;
  max-width: 300px;
  width: 50%;
}

.col-container {
  display: flex;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}

.page-title {
  color: $light-black;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto 40px;
  text-align: center;
  width: 100%;
}

.pt-input {
  margin: 15px auto;
  width: 80%;

  input[type=file] {
    border: none;
    color: $light-black;
    padding-left: 0;
  }

  input, textarea {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    font-size: 16px;
    margin: auto;
    outline: none;
    padding: 15px;
    position: relative;
    width: 100%;
  }
  .valid {
    border-color: $dark-white;
  }
    
  .invalid {
    border-color: $error-red;
  }
}

.error-msg {
  color: $error-red;
  font-size: 12px;
}

.signup-link-wrapper{
  font-size: 14px;
  text-align: center;
}

.signup-link {
  color: $jordy-blue;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;

  &:visited {
    color: $lavender;
  }

  &:focus, &:hover {
    color: $plum;
  }
}

.page-text {
  color: $light-black;
  font-size: 16px;
}